print("TIC TAC TOE")
print("INSTRUCTIONS")
print("1. IN THE SECTION OF 'BOARD' ENTER A NUMBER FROM 1-9 AS INDICATED IN THE FOLLOWING BOARD")
print("2. IN THE NEXT PART OF TIC TAC TOE ENTER 'X' OR 'O' CAPITAL (x) OR CAPITAL (o) AS YOUR CHOICE")
# INSTRUCTIONS WILL BE WRITTEN HERE
L1 =['1', '2', '3'] # ROW ONE
L2 =['4', '5', '6'] # ROW TWO
L3 =['7', '8', '9'] # ROW THREE


###########################
# FOR ANYONE OUTSIDER
#L10 L11 L12
#L20 L21 L22
#L30 L31 L32
#############################


# PRINT THE TIC TAC TOE BOARD
print("TIC TAC TOE board::: ")
print(L1[0] + ' ' + L1[1]+ ' '+ L1[2]+' '+'-->'+ "ROW 1")
print(L2[0] + ' ' + L2[1]+ ' '+ L2[2]+' '+'-->'+ "ROW 2")
print(L3[0] + ' ' + L3[1]+ ' '+ L3[2]+' '+'-->'+ "ROW 3")
#ASK FOR USER DECISION
print("Play or Exit ?")
des = input()
if (des == "Play" or des == 'play'):
    for i in range (0,9):
        if (L1[0]== L1[1] == L1[2] or L2[0] == L2[1] == L3[2] or L3[0] == L3[1] == L3[2] or L1[0] == L2[0] == L3[0] or L1[1] == L2[1]== L3[1] or L1[2]== L2[2]== L3[2] or L1[0]== L2[1] == L3[2] or L1[2] == L2[1] == L3[0]):
            if (L1[0]== L1[1] == L1[2] == 'X' or L2[0] == L2[1] == L3[2] == 'X' or L3[0] == L3[1] == L3[2] == 'X' or L1[0] == L2[0] == L3[0] == 'X' or L1[1] == L2[1]== L3[1]== 'X' or L1[2]== L2[2]== L3[2] == 'X' or L1[0]== L2[1] == L3[2]=='X' or L1[2] == L2[1] == L3[0]== 'X'):
                print('X is the winner !')
                print(L1[0] + ' ' + L1[1] + ' ' + L1[2])
                print(L2[0] + ' ' + L2[1] + ' ' + L2[2])
                print(L3[0] + ' ' + L3[1] + ' ' + L3[2])
                break
            else:
                print('O is the winner! ')
                print(L1[0] + ' ' + L1[1] + ' ' + L1[2])
                print(L2[0] + ' ' + L2[1] + ' ' + L2[2])
                print(L3[0] + ' ' + L3[1] + ' ' + L3[2])
                break

        else:
            print(L1[0] + ' ' + L1[1] + ' ' + L1[2])
            print(L2[0] + ' ' + L2[1] + ' ' + L2[2])
            print(L3[0] + ' ' + L3[1] + ' ' + L3[2])

            board = input("Enter the board : ")
            checker = input("Enter X or O: ")
            if board == '1': # UPDATE L10
                L1[0] = checker
            if board == '2': #UPADATE L11

                L1[1] =checker
            if board == '3': #UPDATE L12

                L1[2] = checker
            if board == '4': #UPDATE L20

                L2[0] = checker
            if board == '5': #UPDATE L21

                L2[1] = checker
            if board == '6': #UPDATE L22

                L2[2] = checker
            if board == '7': #UPDATE L30

                L3[0] = checker
            if board == '8': #UPDATE L31

                L3[1] = checker
            if board == '9': #UPDATE L32

                L3[2] = checker

    else:
        print("Tie")
